<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kebabshell.muyi.common.mapper.HitBaseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.kebabshell.muyi.common.entity.HitBase">
        <id column="id" property="id"/>
        <result column="hit_pic_id" property="hitPicId"/>
        <result column="hit_user_id" property="hitUserId"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
    </resultMap>

    <select id="getHotHit" resultType="cn.kebabshell.muyi.common.dto.HotHitDTO">
        SELECT hit_user_id as uid,
               COUNT(*) as num
        FROM `hit_base`
        GROUP BY uid
        ORDER BY num desc
    </select>
    <select id="getHotPicHit" resultType="cn.kebabshell.muyi.common.dto.HotHitPicDTO">
        SELECT hit_pic_id as pid,
               COUNT(*) as num
        FROM `hit_base`
        GROUP BY pid
        ORDER BY num desc
    </select>
</mapper>
