<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kebabshell.muyi.common.mapper.PicDtlMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.kebabshell.muyi.common.entity.PicDtl">
        <id column="id" property="id" />
        <result column="pic_id" property="picId" />
        <result column="pic_url" property="picUrl" />
        <result column="pic_description" property="picDescription" />
        <result column="pic_area" property="picArea" />
        <result column="pic_create" property="picCreate" />
        <result column="pic_device" property="picDevice" />
        <result column="pic_edit" property="picEdit" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
    </resultMap>

</mapper>
